body, td, th {
	font-family: verdana, sans-serif;
	font-size: 9pt;
}

table, td, th {
	border: 0px;
}

tr {
	background-color: #cccccc;
}

th {
	background-color: #d3dce3;
	font-weight: bold;
	text-align: center;
}

tr.controls {
	background-color: #999999;
}

tr.odd {
	background-color: #c0c0c0;
}

tr.even {
	background-color: #d0d0d0;
}

tr.spacer {
	background-color: transparent;
	height: 10px;
}

td.green {
	background-color: green;
}

td.red {
	background-color: red;
}

input, select, textarea {
	font-family: verdana, sans-serif;
	font-size: 9pt;
	border: 1px solid #333333;
}

input {
	padding: 1px 2px;
}

input.checkbox, input.radio {
	border: 0px;
	margin: 1px 2px 0px;
	padding: 0px;
}

input.button {
	width: 100px;
}

.navigation {
	font-family: verdana, sans-serif;
	font-size: 8pt;
	padding-bottom: 5px;
}

.navigation a {
	color: #0000ff;
}

.navigation a:hover {
	color: #aa0000;
	background-color: #f0f0f0;
}

.footer {
	font-size: 8pt;
	text-align: center;
}

form {
	margin: 0px;
}

tr.hide {
	display: none;
}

tr.show {
}

td.tabon {
	background: #438EC5;
}

td.taboff {
	background: #ABC3D4;
}

select {
	width: 99%;
	margin-top: 5px;
}

textarea, input#return_value {
	width: 99%;
}

input.un-select {
	width: 99%;
	margin-top: 5px;
}

input.select {
	width: 99%;
	margin-top: 5px;
}

input.deselect {
	width: 99%;
	margin-top: 8px;
}